!!!
%html
  %head
    %title Diary
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        = render partial: 'layouts/header'
        %h3.muted= link_to "Logo", root_path
        %h5.muted Some description about app
      %hr/
      = yield