.border-form-div
  %h2 Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.email_field :email, autofocus: true, placeholder: 'Email address'
    = f.password_field :password, placeholder: 'Password', autocomplete: "off"
    = f.password_field :password_confirmation, placeholder: 'Password confirmation', autocomplete: "off"
    - if resource.encrypted_password.present?
      %div
        = f.password_field :current_password, placeholder: 'Current Password', autocomplete: "off"
      %i (we need your current password to confirm your changes)
      %br/
      %br/

    = f.submit "Update",class: 'btn btn-primary'
    = link_to "Cancel", user_home_path, class: 'btn btn-primary'
